* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 100%;
}

/* Left and right column */
.column.side {
    width: 38%;
    height: 100%;
}

/* Middle column */
.column.middle {
    width: 24%;
    height: 20%;
    text-align: center;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

.noodle_panel{
    width: auto;
    height: 25em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.noodle_text{
    text-align: center;
}

.lurk_image{
    width: auto;
    height: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}